**/__pycache__/
**/.vscode/
**/.venv/

.python-version
**/*.log
**/*.DS_Store

**/*.xlsx
**/*.xlsb
**/*.csv
**/*.yaml
**/*.html

# Sample configuration and data files
!converter/mapping_column_sample.xlsx
!impact_analysis/data/impact_analysis_config_sample.xlsx
!impact_analysis/config_impact_analysis_sample.yaml
!converter/config_data_conversion_sample.yaml
!impact_analysis/templates/report_template.html